<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="../css/meu.css">


</head>
<body id="jogoB">
	
    <div id="andar" >
    

    <audio volume="0.1" id="player" preload="none" autoplay="auto" loop>
     <source id="player-source" src="../sons/music.mp3"  type="video/quicktime"/>        
</audio>
        <canvas id="canvas" width="1000" height="500">
        <img id="grama" src="../imagens/grama.png">
        </canvas>
       
    </div> <!-- andar -->
  
    <div id="batalha" class="h-100">
    	<form method="get">
   <div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"  id="vermelho"></div>
  <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"  id="amarelo"></div>
  <div class="progress-bar bg-success" role="progressbar"  aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"  id="verde"></div>
</div>


 <audio volume="0.1" id="playerbt" autoplay="auto"  loop src="">
     <source id="player-source" src="" type="video/quicktime"/>        
</audio>
<audio id="danoSom" preload autoplay="auto" controls>
     <source id="player-source" src="" type="video/quicktime"/>        
</audio>

	<p id="soma"></p>
	<div id="status">
		<p id="vidaP"> Vida:
		<button id="vida" disabled> ola
		</button>
		<p id="atkP"> Ataque:
		<button id="atk" disabled>
		</button>
		</p>
		<p id="defP"> Defesa:
		<button id="def" disabled>
		</button>
		<p id="spdP"> Velocidade:
		<button id="spd" disabled>
		</button>
	</div> <!-- status -->

<img src="../imagens/dkBattle.png" id="aliado">
<img src="../imagens/dragon.png" id="enemy">
	<button id="usaAtk" type="button" class="btn btn-success btn-block">Ataque</button>
	<button id="usaPocao" type="button" class="btn btn-secondary btn-block">Poção = 3</button>
	<p id="taken"></p><p id="suffer"></p>

    </div> <!-- batalha -->
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/desenhar_personagem.js">
    	
    </script>
</body>
</html>